.sectionHome {
  min-height: 100vh;
  background-image: url("/src/imgs/coffee-parallax-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homeLogo {
  position: absolute;
  width: 60%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seprator {
  position: absolute;
  bottom: 0;
  width: 100%;
}
